<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<h1>Bio</h1>
			<p class="bio-text"> &nbsp &nbsp Off The Fence starts with a traditional acoustic sound - banjo, acoustic guitar, fiddle, upright
			bass - and adds a rock ’n’ roll attitude, resulting in an inspired and rambunctious take on
			old-timey music. The quartet embraces the Americana genre, with folk, blues, and country
			influences, as well as a healthy dose of bluegrass. But beyond the picking, they emphasize a
			dynamic, powerful, and harmonious vocal punch that resonates with folkers and rockers alike. </p>

			<p class="bio-text"> &nbsp &nbsp When asked about his favorite aspect of performing with the LA-based Roots Americana group
			Off The Fence, lap steel/guitarist Garrett Holbrook remarks, “We’re all just really good friends.
			It’s a blast.” To the onlooker, nothing is more apparent -- their smiles never disappear the entire
			time they’re playing and singing together on stage. It's so much fun to watch!</p>

			<p class="bio-text"> &nbsp &nbsp The band looks forward to releasing their debut EP later this year, as well as upcoming
			performances in Los Angeles where they are already generating buzz at well attended shows.</p>
		<img class="bio-photo" src="/modules/core/img/natephotos/PICT0073.jpg">
{
	</div>
</section>
