<section data-ng-controller="HomeController" ng-init="findShows();">
	<div class="jumbotron text-center" ng-show="mainPage">
		<div class="row">
			<div class="col-md-3" id="next-show">
				<h3>Next Show</h3>
				<div class="row" ng-repeat="show in shows | orderBy: 'date' | excludePast | limitTo: 1">
					<div class="col-md-12 show-dates">
					<b>{{show.date | date:'shortDate'}}</b> {{show.venue}} <br>
						<small>
							{{show.street}}<br>
							{{show.city}}, {{show.state}}<br>
							Doors open @ <convert-time time="show.doorsTime"></convert-time>
						</small>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<img alt="Off The Fence" class="text-center logo" src="modules/core/img/brand/logo.png" />
			</div>
			<div class="col-md-3">
				<img src="modules/core/img/natephotos/PICT0093.jpg" class="band-photo">
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				<strong>Join our mailing list!</strong>
				<form class="form-inline" ng-submit="saveToMailingList()">

					<label for="email"></label>
					<input class="form-control" type="email" id="email" placeholder="Email" ng-model="email" required>
					<label for="first_name"></label>
					<input class="form-control" type="text" id="first_name" placeholder="First name" ng-model="firstName" required>
					<label for="last_name"></label>
					<input class="form-control" type="text" id="last_name" placeholder="Last name" ng-model="lastName" required>
					<label for="zip"></label>
					<input class="form-control" type="text" id="zip" placeholder="Zip code" ng-model="zip" required>
					<button type="submit" class="btn btn-primary">Join!</button>

					<div data-ng-show="error" class="text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
				</form>
			</p>
		</div>
	</div>
	<div class="jumbotron text-center" ng-show="thankYou">
		<h1>Thank you!</h1>
		<h4>You'll be the first to hear about any upcoming events in your area.</h4>
	</div>
</section>
