<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="Off The Fence" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<img src="modules/core/img/natephotos/PICT0093.jpg" class="image-responsive band-photo">
			</div>
			<div class="col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1 col-xs-12">
				Here is some text that I'm going to write here.Here is some text that I'm going to write here.Here is some text that I'm going to write here.Here is some text that I'm going to write here.Here is some text that I'm going to write here.Here is some text that I'm going to write here.Here is some text that I'm going to write here.Here is some text that I'm going to write here.Here is some text that I'm going to write here.Here is some text that I'm going to write here.Here is some text that I'm going to write here.Here is some text that I'm going to write here.Here is some text that I'm going to write here.
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Join our mailing list!
				<form class="form-inline">
					<label for="email"></label>
					<input class="form-control" type="email" id="email" placeholder="Email">
					<label for="first_name"></label>
					<input class="form-control" type="text" id="first_name" placeholder="First name">
					<label for="last_name"></label>
					<input class="form-control" type="text" id="last_name" placeholder="Last name">
					<label for="zip"></label>
					<input class="form-control" type="text" id="zip" placeholder="Zip code">
					<button type="button" class="btn btn-primary">Join!</button>
				</form>
			</p>
		</div>
	</div>
</section>
