<section data-ng-controller="HomeController" ng-init="findShows()">
	<div class="jumbotron text-center" ng-show="mainPage">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="Off The Fence" class="img-responsive text-center logo" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<img src="modules/core/img/natephotos/PICT0093.jpg" class="image-responsive band-photo">
			</div>
			<div class="col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1 col-xs-12 text-left">
				<h3>Upcoming Shows</h3>
				<div class="row" ng-repeat="show in shows | orderBy: 'date' | excludePast | limitTo: 4">
					<div class="col-md-12 show-dates">
						{{show.date | date:'shortDate'}} {{show.venue}}  -- <small>{{show.city}}, {{show.state}}</small>
					</div>
				</div><br>
				<div class="row">
					<div class="col-md-12">
						<a href="/#!/shows">View all</a>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				<strong>Join our mailing list!</strong>
				<form class="form-inline" ng-submit="saveToMailingList()">

					<label for="email"></label>
					<input class="form-control" type="email" id="email" placeholder="Email" ng-model="email" required>
					<label for="first_name"></label>
					<input class="form-control" type="text" id="first_name" placeholder="First name" ng-model="firstName" required>
					<label for="last_name"></label>
					<input class="form-control" type="text" id="last_name" placeholder="Last name" ng-model="lastName" required>
					<label for="zip"></label>
					<input class="form-control" type="text" id="zip" placeholder="Zip code" ng-model="zip" required>
					<button type="submit" class="btn btn-primary">Join!</button>

					<div data-ng-show="error" class="text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
				</form>
			</p>
		</div>
	</div>
	<div class="jumbotron text-center" ng-show="thankYou">
		<h1>Thank you!</h1>
		<h4>You'll be the first to hear about any upcoming events in your area!</h4>
	</div>
</section>
