<section data-ng-controller="HomeController" ng-init="findPhotos()">
	<div class="jumbotron text-center">
		<h2>Photos</h2>
		<div class="row">
			<div ng-repeat="photo in photos track by $index" class="col-md-3 photo-holder">
				<img ng-src="{{photo.filepath}}" class="thumbnail" ng-click="showPreview($index)" id="thumbnail{{$index}}">
			</div>
		</div>
	</div>
	<div id="photo-preview" class="photo-preview">
		<img ng-src="{{filepath}}" id="display-photo" class="display-photo" ng-show="showPhotoPreview">
	</div>
</section>
