<section data-ng-controller="HomeController" ng-init="findPhotos()">
	<div class="jumbotron text-center">
		<h2>Photos</h2>
		<div class="row">
			<div ng-repeat="photo in photos track by $index" class="col-md-3 photo-holder">
				<img ng-src="{{photo.filepath}}" class="thumbnail" ng-click="showPreview($index)" id="thumbnail{{$index}}">
			</div>
		</div>
	</div>
	<div id="photo-preview" class="photo-preview" ng-show="showPhotoPreview">
		<img ng-src="{{filepath}}" id="display-photo" class="display-photo" ng-show="showPhotoPreview">
	</div>
	<div id="exit-icon" class="exit-icon" ng-show="showPhotoPreview" ng-click="showPhotoPreview = false">
		<i class="glyphicon glyphicon-remove"></i>
	</div>
	<div id="right-arrow" class="right-arrow" ng-show="showPhotoPreview">
		<i class="glyphicon glyphicon-chevron-right no-select" ng-click="showPreview(photoIndex+1)"></i>
	</div>
	<div id="left-arrow" class="left-arrow" ng-show="showPhotoPreview">
		<i class="glyphicon glyphicon-chevron-left no-select" ng-click="showPreview(photoIndex-1)"></i>
	</div>
	<div id="dim-overlay" class="dim-overlay" ng-show="showPhotoPreview" ng-click="showPhotoPreview = false">
	</div>
</section>
