<section data-ng-controller="HomeController" ng-init="findPhotos()">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-xs-12">
				<h1>Photos</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 text-left">
				<span class="no-select page-arrow" ng-click="prevPage()" ng-show="currentPhotoPage > 0"><i class="glyphicon glyphicon-chevron-left no-select page-arrow"></i>Previous</span>
			</div>
			<div class="col-xs-4">

			</div>
			<div class="col-xs-4 text-right">
				<span class="no-select page-arrow" ng-click="nextPage()" ng-show="!onHighestPage">Next<i class="glyphicon glyphicon-chevron-right"></i></span>
			</div>
		</div>
		<div id="photos-container">
		</div>
	</div>
	<div id="preview-container">
		<div id="photo-preview" class="photo-preview">
			<img ng-src="{{filepath}}" id="display-photo" class="display-photo">
		</div>
		<div id="exit-icon" class="exit-icon" ng-click="hidePhotoPreview()">
			<i class="glyphicon glyphicon-remove"></i>
		</div>
		<div id="right-arrow" class="right-arrow">
			<i class="glyphicon glyphicon-chevron-right no-select" ng-click="showPreview(photoIndex+1)"></i>
		</div>
		<div id="left-arrow" class="left-arrow">
			<i class="glyphicon glyphicon-chevron-left no-select" ng-click="showPreview(photoIndex-1)"></i>
		</div>
		<div id="dim-overlay" class="dim-overlay" ng-click="hidePhotoPreview()">
		</div>
	</div>
</section>
