body {
	background-image: url('../img/natephotos/PICT0035.jpg');
	background-size: 100% auto;
}

.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.jumbotron {
	background-color: rgba(255,255,255,.5);
}
.logo {
	margin-top: -40px;
	margin-bottom: 10px;
}
.band-photo {
	width: 100%;
}

.ng-enter {
	-webkit-animation: fadeInDown .4s;
	display: block!important;
}
/*.ng-enter-active {*/
	/*opacity: 1;*/
/*}*/
.jumbotron.ng-hide-add {
	-webkit-animation: bounceOutLeft .6s;
	display: block!important;
}
.jumbotron.ng-hide-remove {
	-webkit-animation: bounceInLeft .6s;
	display: block!important;
}

.navbar {
	max-height: 0; /*Hack for transparent nav bar*/
}
