body {
	background-image: url('../img/natephotos/PICT0035.jpg');
	background-size: 100% auto;
}

.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.jumbotron {
	background-color: rgba(255,255,255,.5);
}
.logo {
	margin-top: -40px;
	margin-bottom: 10px;
}
.band-photo {
	width: 130%;
}

.ng-enter {
	animation: fadeInDown .4s;
	-webkit-animation: fadeInDown .4s;
	display: block!important;
}
/*.ng-enter-active {*/
	/*opacity: 1;*/
/*}*/
.jumbotron.ng-hide-add {
	-webkit-animation: bounceOutLeft .6s;
	display: block!important;
}
.jumbotron.ng-hide-remove {
	-webkit-animation: bounceInLeft .6s;
	display: block!important;
}
.navbar{
	/*background-image: none;*/
	/*background-color: red;*/
	/*border: none;*/
}
.show-dates {
	font-size: 20px;
}
.show-col {
	outline: thin dashed black;
}
.outline-blue {
	outline: thin solid blue;
}
.header-space {
	margin-bottom: 50px;
}
.shows-table {
	background-color: rgba(255,255,255,.3);
}
.thumbnail {
	height: 155px;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}
.photo-preview {
	position: fixed;
	top: 60px;
	background-color: black;
	text-align: center;
	border: thick solid white;
	padding: 1px;
	z-index:2
}
.exit-icon {
	cursor: pointer;
	position: fixed;
	top: 10px;
	right: 10px;
	height: 20px;
	width: 20px;
	z-index: 9999;
	color: white;
	font-size: 25px;
}
.dim-overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	background-color: rgba(0,0,0,.8);
}
.photo-holder {
	overflow: hidden;
}
.left-arrow {
	position: fixed;
	top: 45%;
	left: 7%;
	z-index: 9999;
	color: white;
	font-size: 55px;
	cursor: pointer;
}
.left-arrow:hover{
	color: #99CCFF;
}
.right-arrow {
	position: fixed;
	top: 45%;
	left: 93%;
	z-index: 9999;
	color: white;
	font-size: 55px;
	cursor: pointer;
}
.right-arrow:hover {
	color: #99CCFF;
}
.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.page-arrow {
	cursor: pointer;
	font-size: 25px;
}
