@font-face {
	font-family: edmunds;
	src: url('/lib/edmunds/edmunds.otf');
}
body {
	background-image: url('../img/bg/otf_bg1.jpg');
	/*background-image: url('../img/natephotos/PICT0035.jpg');*/
	background-size: 100% auto;
	background-repeat: no-repeat;
	font-family: edmunds;
	background-color: #381F32;
}
.navbar{
		/*background-image: none;*/
		/*background-color: #F58869;*/
		/*border: none;*/
}
.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.jumbotron {
	background-color: rgba(255,255,255,.6);
}
.ng-enter {
	-webkit-animation: fadeIn .6s;
	display: block!important;
}
.logo {
	margin-top: -10px;
	margin-bottom: 10px;
	width: 150%;
}
.jumbotron.ng-hide-add {
	-webkit-animation: bounceOutLeft .6s;
	display: block!important;
}
.jumbotron.ng-hide-remove {
	-webkit-animation: bounceInLeft .6s;
	display: block!important;
}
.show-dates {
	font-size: 20px;
}
.show-col {
	outline: thin dashed black;
}
.outline-blue {
	outline: thin solid blue;
}
.header-space {
	margin-bottom: 50px;
}
.shows-table {
	background-color: rgba(255,255,255,.3);
}
.photo-preview {
	position: fixed;
	top: 60px;
	background-color: black;
	text-align: center;
	border: thick solid white;
	padding: 1px;
	z-index:2
}
.exit-icon {
	cursor: pointer;
	position: fixed;
	top: 60px;
	right: 10px;
	height: 20px;
	width: 20px;
	z-index: 9999;
	color: white;
	font-size: 25px;
}
.dim-overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	background-color: rgba(0,0,0,.8);
}
.photo-thumbnail {;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid white;
}
.photo-holder {
	overflow: visible;
	display: block;
	height: 370px;
}
.left-arrow {
	position: fixed;
	top: 45%;
	left: 1%;
	z-index: 9999;
	color: white;
	font-size: 55px;
	cursor: pointer;
}
.left-arrow:hover{
	color: #99CCFF;
}
.right-arrow {
	position: fixed;
	top: 45%;
	right: 1%;
	z-index: 9999;
	color: white;
	font-size: 55px;
	cursor: pointer;
}
.right-arrow:hover {
	color: #99CCFF;
}
.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.page-arrow {
	cursor: pointer;
	font-size: 25px;
}
.soundctrl {
	color: white;
	font-size: 25px;
	margin: 10px;
	cursor: pointer;
}
.soundctrl:hover{
	color: #99CCFF;
}
.band-photo {
	margin-top: 15%;
	width: 100%;
	border-radius: 15px;
}
.navbar-brand {
	font-size: 20px;
}
.shows-table-header{
	font-size: 26px;
}
.shows-table-data {
	font-size: 18px;
}
.jumbotron p.bio-text {
	text-align: left;
	font-size: 19px;
}
.bio-photo {
	width: 95%;
	margin: 10px;
}
.band-video{
	margin: 20px;
}
.form-control, .btn, .shows-table-header, .shows-table-data, .bio-text {
	font-family: Arial, Helvetica, sans-serif;
}
.nav li {
	float: right;
	display: inline-block;
}
#join {
	margin: 10px;
}
#sound-loading, #sound-title {
	display: none;
	color: #fff;
	margin-right: 20px;
	font-size: 22px;
}
#sound-loading-container {
	margin-top: 11px;
}
#next-show {
	margin-top: 30px;
}

#preview-container {
	display: none;
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
	.photo-holder {
		height: 290px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {

	#mailing-list.form-inline .form-control {
		width: 20%;
		display: inline;
	}

	h2 {

		font-size: 22px;
		margin-top: 5px;
		margin-bottom: 0px;
	}

	.show-dates {
		font-size: 16px;
	}

	.photo-holder {
        	height: 270px;
	}

	.shows-table-header {
		font-size: 20px;
	}
	.shows-table-data {
		font-size: 16px;
	}
	.jumbotron p.bio-text {
		font-size: 18px;
	}

}
@media only screen and (min-width: 550px) and (max-width: 768px) {

	h2 {

		font-size: 18px;
		margin-top: 5px;
		margin-bottom: 0px;
	}

	.show-dates {
		font-size: 13px;
	}

	.photo-holder {
		height: 220px;
	}

	.shows-table-header {
		font-size: 14px;
	}
	.shows-table-data {
		font-size: 10px;
	}

	.jumbotron p.bio-text {
		font-size: 16px;
	}
}
@media only screen and (min-width: 450px) and (max-width: 550px) {

	h2 {

			font-size: 16px;
			margin-top: 5px;
			margin-bottom: 0px;
	}

	#next-show {
		margin-top: 0px;
	}

	.show-dates {
		font-size: 11px;
	}

	.photo-holder {
		height: 170px;
	}

	.shows-table-header {
		font-size: 12px;
	}
	.shows-table-data {
		font-size: 8px;
	}

	.jumbotron p.bio-text {
		font-size: 14px;
	}
}
@media only screen and (min-width: 250px) and (max-width: 450px) {

	h2 {

		font-size: 14px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	#next-show {
		margin-top: 0px;
	}

	.navbar-brand {
		font-size: 16px;
		padding: 15px 7px;
	}

	.show-dates {
		font-size: 9px;
	}

	.photo-holder {
		height: 120px;
	}

	.shows-table-header {
		font-size: 12px;
	}
	.shows-table-data {
		font-size: 9px;
	}

	.jumbotron p.bio-text {
		font-size: 12px;
	}
}
