<section data-ng-controller="EmailListsController" data-ng-init="findOne()">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="page-header">
				<h1 data-ng-bind="emailList.name"></h1>
			</div>
			<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == emailList.user._id))">
				<a class="btn btn-primary" href="/#!/email-lists/{{emailList._id}}/edit">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
				<a class="btn btn-primary" data-ng-click="remove();">
					<i class="glyphicon glyphicon-trash"></i>
				</a>
			</div>
			<small>
				<em class="text-muted">
					Posted on
					<span data-ng-bind="emailList.created | date:'mediumDate'"></span>
					by
					<span data-ng-bind="emailList.user.displayName"></span>
				</em>
			</small>
		</div>
	</div>
</section>
