.dropbox {
    border: 10px dashed black;
    background-color: rgba(0,0,30,.5);
    height: 300px;
    width: 300px;
    margin: 10px auto;
    color: white;
}
.drag-over {
    border: 10px dashed white;
    background-color: rgba(0,0,0,.5);
    height: 300px;
    width: 300px;
    margin: 10px auto;
    color: white;
}
.preview-img {
    height: 155px;
}
.preview-big {
    height: 300px;
}
.photo-holder {
    margin-top: 10px;
    margin-bottom: 10px;
}
