<section data-ng-controller="PhotosController">
    <div class="jumbotron text-center">
        <div class="row">
            <div class="page-header">
                <h1>New Photo</h1>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="dropbox text-center" ng-multiple="true" allow-dir="true" ng-accept="'image/*,application/pdf'" ng-model="files" ng-file-drop ng-file-select="onFileSelect($files)" drag-over-class="drag-over">
                            <h3>Drop photos <br> or click to choose</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-inline" data-ng-submit="create()" novalidate>
                            <fieldset>
                                <div class="form-group">
                                    <label class="control-label" for="credit">Credit to:</label>
                                    <input type="text" data-ng-model="credit" id="credit" class="form-control" placeholder="Credit" required>
                                    <label class="control-label" for="where">Taken where?</label>
                                    <input type="text" data-ng-model="where" id="where" class="form-control" placeholder="Taken where?" required>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                                <div data-ng-show="error" class="text-danger">
                                    <strong data-ng-bind="error"></strong>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
