<section data-ng-controller="PhotosController" data-ng-init="findOne()">
    <div class="jumbotron text-center">
        <div class="row">
            <div class="page-header">
                <h1>Edit Photo</h1>
            </div>
            <div class="col-md-12">
                <img ng-src="{{photo.filepath}}" class="preview-big">
                <form class="form-horizontal" data-ng-submit="update()" novalidate>
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label" for="where">Where was this taken?</label>
                            <div class="controls">
                                <input type="text" data-ng-model="photo.where" id="where" class="form-control" placeholder="Where?" required>
                            </div>
                            <label class="control-label" for="credit">Credit to:</label>
                            <div class="controls">
                                <input type="text" data-ng-model="photo.credit" id="credit" class="form-control" placeholder="Credit to" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Update" class="btn btn-default">
                        </div>
                        <div data-ng-show="error" class="text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
