<section data-ng-controller="PhotosController" data-ng-init="find()">
    <div class="jumbotron text-center">
        <div class="row">
            <div class="page-header">
                <h1>Photos</h1>
            </div>
            <div class="row">
                <div ng-repeat="photo in photos" class="col-md-3 photo-holder">
                    <img ng-src="{{photo.filepath}}" class="preview-img">
                </div>
            </div>
            <div class="alert alert-warning text-center" data-ng-hide="!photos.$resolved || photos.length">
                No Photos yet, why don't you <a href="/#!/admin/photos/create">add a few</a>?
            </div>
        </div>
    </div>
</section>
