<section data-ng-controller="ShowsController" data-ng-init="find()">
    <div class="jumbotron text-center">
        <div class="row">
            <div class="page-header">
                <h1>Shows</h1>
            </div>
            <div class="list-group">
                <a data-ng-repeat="show in shows | orderBy:'date'" data-ng-href="#!/admin/shows/{{show._id}}" class="list-group-item">
                    <p><strong>{{show.venue}}</strong> -- <span>{{show.date | date: 'mediumDate'}}</span>   </p>
                    <small class="list-group-item-text">
                        Posted on
                        <span data-ng-bind="show.created | date:'medium'"></span>
                        by
                        <span data-ng-bind="show.user.displayName"></span>
                    </small>
                </a>
            </div>
            <div class="alert alert-warning text-center" data-ng-hide="!shows.$resolved || shows.length">
                No Shows yet, why don't you <a href="/#!/admin/shows/create">create one</a>?
            </div>
        </div>
    </div>
</section>
