<section data-ng-controller="ShowsController" data-ng-init="findOne()">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="page-header">
				<h1 data-ng-bind="show.venue"></h1>
				<p data-ng-bind="show.street"></p>
				<p>{{show.city}}, {{show.state}}</p>
				<p><strong>Doors: </strong>{{show.doorsTime}}</p>
			</div>
			<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == show.user._id))">
				<a class="btn btn-primary" href="/#!/admin/shows/{{show._id}}/edit">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
				<a class="btn btn-primary" data-ng-click="remove();">
					<i class="glyphicon glyphicon-trash"></i>
				</a>
			</div>
			<small>
				<em class="text-muted">
					Posted on
					<span data-ng-bind="show.created | date:'mediumDate'"></span>
					by
					<span data-ng-bind="show.user.displayName"></span>
				</em>
			</small>
		</div>
	</div>
</section>
