<section data-ng-controller="VideosController" data-ng-init="find()">
    <div class="page-header">
        <h1>Videos</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="video in videos" data-ng-href="#!/admin/videos/{{video._id}}" class="list-group-item video-container" resize-video>
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="video.created | date:'medium'"></span>
				by
				<span data-ng-bind="video.user.displayName"></span>
			</small>
            <br>
            <iframe class="band-video" ng-src="{{video.iFrameUrl}}" frameborder="0" allowfullscreen></iframe>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!videos.$resolved || videos.length">
    	No Videos yet, why don't you <a href="/#!/videos/create">create one</a>?
    </div>
</section>
